extends ../layout

block content

  .panel.panel-success
    .panel-heading
      h3.panel-title 成功提示
      .panel-body
        #{message}
      .panel-footer
        a(href="javascript:window.history.back();") 返回上一部